language: node_js
node_js:
  - "6"
  - "8"
  - "10"

cache: yarn

script:
  # --color and --runInBand are necessary to ensure that `colors` work correctly
  - yarn test --coverage --runInBand --color
